body {
    font-family: 'Bungee Shade';
    font-size: 15px;
    /* color: antiquewhite; */
}

.background {
    max-width: 400px;
    max-height: 440px;
    background-image: url("/images/blackBgImage.jpeg");
    background-position: center;
    background-repeat: no-repeat;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.hiscore {
    padding-top: 0px;
}

.header {
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0% {
        color: #000;
    }
    49% {
        color: #000;
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: #000;
    }
}